# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.env/
venv/
.env.bak/

# Build outputs
build/
dist/

# Browser & automation
chrome/
chromedriver/
chrome_profile/
profiles/

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store

# Ignore the heavy embedded browser
poptest/chrome/
poptest/chromedriver/

# Ignore the build artifacts
*.spec
.poptest_profile/