name: Python Security Scan

on: [push, pull_request]

jobs:
  bandit-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Install Bandit
        run: pip install bandit
        
      - name: Run Bandit Scan
        # Targeted ./Main specifically to ignore archived folders and root files
        run: bandit -r ./Main -ll